@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,800');

a, a:link,
a:hover, a:active,
a:visited {
  text-decoration: none;
}

body {
  background-color: #f5f5f5;
}

button {
  background-color: #36c;
  border: 0;
  border-radius: 3px;
  color: white;
  padding: 0.5rem 2rem;
}

h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

img {
  max-width: 15%;
}

@keyframes come-in {
  to { transform: translateY(0); }
}

@keyframes rainbow {
  0%   { background-color: #c0392b; }
  14%  { background-color: #e67e22; }
  28%  { background-color: #f1c40f; }
  42%  { background-color: #27ae60; }
  57%  { background-color: #1abc9c; }
  71%  { background-color: #2980b9; }
  85%  { background-color: #8e44ad; }
  100% { background-color: #c0392b; }
}

.buttons {
  margin-top: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.come-in {
  transform: translateY(100px);
  animation: come-in 0.8s ease forwards;
}

.come-in:nth-child(odd) {
  animation-duration: 0.6s; /* So they look staggered */
}

#input {
  width: 400px;
  height: 30px;
  padding: 0.5rem;
}

#search:hover {
  background-color: #4782f2;
}

#random:hover {
  animation:rainbow 1s infinite;
}

.result {
  background-color: white;
  box-shadow: 0 8px 6px -6px #888;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  margin: 0.5rem;
  padding: 1rem;
  width: 450px;
}

.result-title {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

#results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
